.container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 15px;
    flex: 1;
    box-sizing: content-box;
    overflow-y: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

.audio-item {
    width: 150px;
    height: 150px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    line-height: 150px;
    background-color: #eee;
}

.placeHolder {
    width: 150px;
}

.title {
    width: 150px;
    text-overflow: ellipsis;
    overflow: hidden;
    height: 25px;
    line-height: 25px
}

.btnStyle {
    font-size: 50px;
    display: inline-block;
    cursor: pointer
}

.iconStyle {
    font-size: 50px;
}

.audio {
    visibility: hidden;
}